<div class="login-register">
  <div class="login-register-panel">
    <div class="grid">
      <div class="col-6">
        <img src="assets/images/login.jpg" />
      </div>
      <div class="col-6 p-5">
        <h3>Welcome!</h3>
        <h2>Login Page</h2>
        <form [formGroup]="loginFormGroup">
          <div class="grid mt-6">
            <div class="col-12">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" formControlName="username" pInputText placeholder="Username" />
              </div>
              <small *ngIf="loginForm['username'].invalid && isSubmitted" class="p-error">
              </small>
            </div>
            <div class="col-12">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                <input
                  type="password"
                  formControlName="password"
                  pInputText
                  placeholder="Password"
                />
              </div>
              <small *ngIf="loginForm['password'].invalid && isSubmitted" class="p-error"
                >Password is required
              </small>
            </div>
            <div class="col-12">
              <p-button label="Submit" styleClass="full-btn" (onClick)="onSubmit()"></p-button>
            </div>
            <div class="col-12" *ngIf="isSubmitted && authError">
              <small class="p-error">{{ authMessage }}</small>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
