<p-toast></p-toast>
<div class="admin-page">
  <p-card header="Books" subheader="List of all Books">
    <div class="p-grid">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button
              styleClass="p-button-success"
              label="New"
              icon="pi pi-plus"
              routerLink="/books/add"
            ></p-button>
          </div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-infos"
              label="Export Books"
              icon="pi pi-cloud-download"
              (click)="exportFamilies()"
            >
            </p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">
        <p-table
          [paginator]="true"
          [rows]="10"
          [value]="books"
          styleClass="p-datatable-gridlines"
          [globalFilterFields]="['name']"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
              <th pSortableColumn="author">Author <p-sortIcon field="author"></p-sortIcon></th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-book>
            <tr>
              <td>{{ book.name }}</td>
              <td>{{ book.author}}</td>
              <td>
                <p-button
                  (click)="deleteBook(book.id)"
                  styleClass="p-button-danger  ml-2 mr-2"
                  icon="pi pi-trash"
                ></p-button>
                <p-button
                  (click)="updateBook(book.id)"
                  styleClass="p-button-success"
                  icon="pi pi-pencil"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
