<p-toast></p-toast>
<div class="admin-page">
  <p-card header="Book Families" subheader="List of all Book Families">
    <div class="p-grid">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button
              styleClass="p-button-success"
              label="New"
              icon="pi pi-plus"
              routerLink="/families/add"
            ></p-button>
          </div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-infos"
               label="Export Book Families"
              icon="pi pi-cloud-download"
              (click)="exportFamilies()"
            >
            </p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">
        <p-table
          [paginator]="true"
          [rows]="10"
          [value]="families"
          styleClass="p-datatable-gridlines"
          [globalFilterFields]="['name']">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
              <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-family>
            <tr>
              <td>{{ family.name }}</td>
              <td>{{ family.description}}</td>
              <td>
                <p-button
                  (click)="deleteFamily(family.id)"
                  styleClass="p-button-danger mr-2 ml-2"
                  icon="pi pi-trash"
                ></p-button>
                <p-button
                  (click)="updateFamily(family.id)"
                  styleClass="p-button-success "
                  icon="pi pi-pencil"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
