<div class="admin-sidebar">
  <div class="logo">
    <img src="/assets/images/logo.png" />
  </div>
  <div class="links">
    <ul>
      <li>
        <a routerLink="/books"><i class="pi pi-briefcase"></i> Books</a>
      </li>
      <li>
        <a routerLink="/families"><i class="pi pi-list"></i> Book Families</a>
      </li>
      <li>
        <a class="logout" (click)="logoutUser()"><i class="pi pi-sign-out" ></i> Logout</a>
      </li>
    </ul>
  </div>
</div>
