<p-toast></p-toast>
<div class="admin-page">
  <p-card
    header="Add Book"
    subheader="You can add  book here">
    <div class="p-grid mb-5">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-primary ml-2 mr-2"
              label="Create"
              icon="pi pi-plus"
              (click)="onSubmit()"
            ></p-button>
            <p-button
              styleClass="p-button-secondary"
              label="Cancle"
              icon="pi pi-arrow-circle-left"
              (click)="onCancle()"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">
        <form [formGroup]="form">
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
              <label for="name">Name</label>
              <input formControlName="name" id="name" type="text" pInputText/>
              <small *ngIf="familyForm['name'].errors?.['required'] && isSubmitted" class="p-error">Name is required</small>
              <small *ngIf="familyForm['name'].errors?.['minlength'] && isSubmitted" class="p-error">Name must be at least 2 characters long.</small>
              <small *ngIf="familyForm['name'].errors?.['maxlength'] && isSubmitted" class="p-error">Name must be at max 50 characters long.</small>
            </div>
          </div>
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12">
              <label for="description">Description</label><br/>
              <textarea
                id="description"
                pInputTextarea
                formControlName="description"
                [rows]="7"
                [cols]="30"
              ></textarea>
              <small *ngIf="familyForm['description'].errors?.['maxlength'] && isSubmitted" class="p-error">Name must be at max 50 characters long.</small>
            </div>

          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
