

@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.scss';

body {
  margin: 0;
  padding: 0;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}


textarea {
  overflow: auto;
}

.admin {
  &-wrapper {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  &-main {
    width: calc(100% - 175px);
    margin-left: 175px;
  }

  &-sidebar {

    position: fixed;
    width: 175px;
    background-color: slategray;
    height: 100%;
    top: 0;

    .logo {
      width: 100%;

      img {
        background: transparent;
        max-width: 100%;
      }
    }

    .links {
      ul {
        margin: 0;
        padding: 0;

        li {
          display: block;
          list-style: none;
          width: 100%;

          a {
            color: white;
            padding: 10px 0;
            display: block;
            text-decoration: none;
            font-size: 20px;
            width: 100%;

            &:hover {
              background-color: darkcyan;
            }

            i {
              margin-right: 15px;
              margin-left: 10px;
              margin-top: 0;
              float: left;
            }

            &.logout {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  &-page {
    padding: 15px;
  }
}

.login-register {
  background-image: linear-gradient(235deg, #565867, #191a25);
  height: 100vh;
  &-panel {
    width: 650px;
    height: 525px;
    background-color:antiquewhite;
    position: absolute;
    left: calc(50% - 325px);
    top: calc(50% - 260px);

    .full-btn {
      width: 100%;
    }
  }
}
