<p-toast></p-toast>
<div class="admin-page">
  <p-card
    header="Edit Book"
    subheader="You can Edit  book here">
    <div class="p-grid p-mb-5">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-primary ml-2 mr-2"
              label="Update"
              icon="pi pi-plus"
              (click)="onSubmit()"
            ></p-button>
            <p-button
              styleClass="p-button-secondary"
              label="Cancle"
              icon="pi pi-arrow-circle-left"
              (click)="onCancle()"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">
        <form [formGroup]="form">
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
              <label for="name">hhh</label>dfgdfsgdfgdf
              <input formControlName="name" id="name" type="text" pInputText />
              <small *ngIf="bookForm['name'].errors?.['required'] && isSubmitted" class="p-error">Name is required</small>
              <small *ngIf="bookForm['name'].errors?.['minlength'] && isSubmitted" class="p-error">Name must be at least 2 characters long.</small>
              <small *ngIf="bookForm['name'].errors?.['maxlength'] && isSubmitted" class="p-error">Name must be at max 50 characters long.</small>
            </div>
            <div class="p-field p-col">
              <label for="author">Author</label>
              <input formControlName="author" id="author" type="text" pInputText />
              <small *ngIf="bookForm['author'].errors?.['required'] && isSubmitted" class="p-error">author is required</small>
              <small *ngIf="bookForm['author'].errors?.['minlength'] && isSubmitted" class="p-error">author must be at least 2 characters long.</small>
              <small *ngIf="bookForm['author'].errors?.['maxlength'] && isSubmitted" class="p-error">author must be at max 50 characters long.</small>
            </div>
            <div class="p-field p-col">
              <label for="copyright">Copyright</label><br />
              <input formControlName="copyright" id="copyright" type="text" pInputText />
              <small *ngIf="bookForm['copyright'].errors?.['required'] && isSubmitted" class="p-error">copyright is required</small>
              <small *ngIf="bookForm['copyright'].errors?.['minlength'] && isSubmitted" class="p-error">copyright must be at least 2 characters long.</small>
              <small *ngIf="bookForm['copyright'].errors?.['maxlength'] && isSubmitted" class="p-error">copyright must be at max 50 characters long.</small>
            </div>
          </div>
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-6">
              <label for="FamiliesList">category</label><br />
              <p-multiSelect [options]="FamiliesList"
                             [(ngModel)]="selectedFamilies"
                             id="FamiliesList"
                             [filter]="true"
                             optionLabel="name"
                             optionValue="id"
                             [virtualScroll]="true"
                             [virtualScrollItemSize]="30"
                             [ngModelOptions]="{standalone: true}"
                             placeholder="Select a Book Families">
              </p-multiSelect>
            </div>
            <div class="p-field p-col-12">
              <label for="description">Description</label><br />
              <textarea
                id="description"
                pInputTextarea
                formControlName="description"
                [rows]="7"
                [cols]="30"
              ></textarea>
              <small *ngIf="bookForm['description'].errors?.['maxlength'] && isSubmitted" class="p-error">description must be at max 255 characters long.</small>
            </div>
            <div class="p-field p-col-12">
              <label for="image">Main Image</label>
              <input
                id="image"
                type="file"
                class="p-inputtext"
                (change)="onImageUpload($event)"
                accept="image/*">
              <div class="p-col-2 p-mt-2 p-pl-0">
                <img style="width: 100%" [src]="imageDisplay" appHideMissing  alt="" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
